.DS_Store
**/.idea/
.vscode/
*userdb/*.log
*userdb/LO*
*userdb/CURRENT
*userdb/MANIFEST*
build/

others/script/scel2txt/out/*
others/script/scel2txt/scel/*
cn_dicts/temp.txt

*private*

rime_console
rime_deployer
rime_patch
